<p id="notice"><%= notice %></p>

<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-9 clearfix">
        <ul class="blog-zone">
          <li>
            <div class="blog-icon">
              <i class="fa  fa-pencil"></i>
            </div>
            <div class="blog-box">
              <img src="images/blog-1.jpg" alt="">

              <div class="blog-post-body clearfix">
                <a href="">
                  <h2><%= @recipe.name %></h2>
                </a>
                <div class="blog-post-tag">
                  <div class="block">
                    <i class="fa fa-clock-o"></i>
                    <p><%= @recipe.created_at %></p>
                  </div>
<!--                  <div class="block">-->
<!--                    <i class="fa fa-user"></i>-->
<!--                    <p>Admin</p>-->
<!--                  </div>-->
<!--                  <div class="block">-->
<!--                    <i class="fa fa-tags"></i>-->
<!--                    <p>-->
<!--                      <a href="">Food Culture</a>,-->
<!--                      <a href="">Green Items</a>-->
<!--                    </p>-->
<!--                  </div>-->
                  <div class="block">
                    <i class="fa fa-comments"></i>
                    <p>Prep Time: <%= @recipe.prep_time %> mins</p>
                  </div>
                </div>
                <p><%= @recipe.description %></p>
                <p><%= @recipe.instructions.html_safe %></p>

<!--                <blockquote>-->
<!--                  <p>Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</p>-->
<!--                  <div class="block-qoute-by">-->
<!--                    - John Doe , Author-->
<!--                  </div>-->
<!--                </blockquote>-->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde expedita neque excepturi iste cumque! Dolorem, ipsum, totam, culpa ullam dolores qui possimus corrupti suscipit recusandae quam magnam quis eaque incidunt!</p>
              </div>
            </div>
          </li>
        </ul>	<!-- End of /.blog-zone -->

        <div class="author-id">
          <div class="media">
            <h5>Author</h5>
            <img class="media-object pull-left" src="images/author.jpg" alt="">
            <div class="media-body">
              <h6 class="media-heading"><%= @recipe.user&.first_name %></h6>
              <p><%= @recipe.user&.biography %></p>
            </div>	<!-- End of /.media-body -->
          </div>	<!-- End of /.media -->
        </div>	<!-- End of /.author-id -->

        	<!-- End of /.comments-box -->

        	<!-- End of /.leave comments -->
      </div>	<!-- End of /.col-md-9 -->

      <div class="col-md-3">
        <div class="blog-sidebar">
          <div class="block">
            <h4>Catagories</h4>
            <div class="list-group">
              <a href="#" class="list-group-item">
                <i class="fa  fa-dot-circle-o"></i>
                Italian Foods
              </a>
              <a href="#" class="list-group-item">
                <i class="fa  fa-dot-circle-o"></i>
                Traditional Food
              </a>
              <a href="#" class="list-group-item">
                <i class="fa  fa-dot-circle-o"></i>
                Indian Food
              </a>
              <a href="#" class="list-group-item">
                <i class="fa  fa-dot-circle-o"></i>
                Spanish Food
              </a>
              <a href="#" class="list-group-item">
                <i class="fa  fa-dot-circle-o"></i>
                Thai FoodN
              </a>
            </div>
          </div>	<!-- End of /.block -->
          <div class="block">
            <h4>Popular Posts</h4>
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="images/post-img.png" alt="...">
                </a>
                <div class="media-body">
                  <a href="" class="media-heading">
                    Lorem ipsum dolor</a>
                  <p>January 10,2014</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="images/post-img-2.png" alt="...">
                </a>
                <div class="media-body">
                  <a href="" class="media-heading">
                    Mauris blandit aliquet</a>
                  <p>January 10,2014</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="images/post-img-3.png" alt="...">
                </a>
                <div class="media-body">
                  <a href="" class="media-heading">
                    Quisque velit nisi</a>
                  <p>January 10,2014</p>
                </div>
              </li>
            </ul>
          </div>	<!-- End of /.block -->

          <div class="block">
            <h4>Tasty Tags</h4>
            <div class="tag-link">
              <% @recipe.tags.each do |t| %>
                <a href=""><%= t.name %></a>
              <% end %>
<!--              <a href="">BALLET</a>-->
<!--              <a href="">BLOG</a>-->
<!--              <a href="">CHRISTMAS</a>-->
<!--              <a href="">ELEGANCE</a>-->
<!--              <a href="">ELEGANT</a>-->
<!--              <a href="">SHOPPING</a>-->
<!--              <a href="">SHOP</a>-->
<!--              <a href="">PHOTOGRAPHY</a>-->
            </div>
          </div>	<!-- End of /.block -->

        </div>	<!-- End of /.Sidebar -->
      </div>	<!-- End of /.col-md-3 -->
    </div>	<!-- End of /.row -->
  </div>	<!-- End of /.container -->
</section>

<!--<%#= link_to 'Edit', edit_recipe_path(@recipe) %> |-->
<%= link_to 'Back', recipes_path %>
